<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exam Python</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <div class="container-line">
      <span class="txt t1">- RATIO - QUOICOUBEHO - IMPAYAYYYYE - EH VLANVLANVLAN&nbsp;</span>
      <span class="txt t2">- RATIO - QUOICOUBEHO - IMPAYAYYYYE - EH VLANVLANVLAN&nbsp;</span>
    </div>

</body>
</html>